<h1>Edit your entry from <%= @entry.date.strftime("%m-%d-%Y") %>.</h1>

<form method="POST" action='/entries/<%=@entry.id%>'>
    <input type="hidden" name="_method" id="hidden" value="PATCH"

    <label>Date</label>
    <br>
    <input type="date" name="date" value="">
    <br><br>

    <label>Goal</label>
    <br>
    <input type="text" name="goal" value="">
    <br><br>

    <label>Log</label>
    <br>
    <input type="text" name="log" value="">
    <br><br>

    <label>Gratitude</label>
    <br>
    <input type="text" name="gratitude" value="">
    <br><br>

    <input type="submit" value="Edit Entry">
    <br><br>
</form>