<h1>Log In!</h1>

<form method='POST' action='/login'>
    <label>Username:</label>
    <br>
    <input type="text" id="username" name="username">
    <br><br>

    <label>Password:</label>
    <br>
    <input type="text" id="password" name="password">
    <br><br>

    <p><input type="submit" value="Log In"></p>
</form>

<p>Don't have an account yet? <a href="/signup">Sign Up</a>.</p>