#shows a user all of their entries

#interpolate user's username
#iterate over all of the user's entries into a list 
    #Only dates of entries
    #Each date should hyperlink to its own show entry page

#Option to create new entry
#Link option to log out

<h1>You made it!</h1>