<h1>Sign Up!</h1>

<form method='POST' action='/login'>
    <label>Username:</label>
    <br>
    <input type="text" id="username" name="username">
    <br><br>

    <label>Email:</label>
    <br>
    <input type="text" id="email" name="email">
    <br><br>

    <label>Password:</label>
    <br>
    <input type="text" id="password" name="password">
    <br><br>
    
    <p><input type="submit" value="Sign Up"></p>
</form>